{% extends 'base.html' %}
{% load static %}

{% block title %}
    Об авторе
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Информация об авторе проекта 
        </div>
        <div class="card-body" align="justify">
            <p align="right">
                <a href="https://www.instagram.com/gorvas53/" target="_blank">
                  <img src="{% static '/svg/instagram.svg' %}" alt="Bootstrap" width="42" height="42"></a>
                <a href="mailto:goryachev-vs@edu-mytyshi.ru" target="_blank">
                    <img src="{% static '/svg/envelope-fill.svg' %}" alt="Bootstrap" width="42" height="42"></a>
                <a href="https://github.com/knightsdd" target="_blank">
                    <img src="{% static '/svg/github.svg' %}" alt="Bootstrap" width="42" height="42"></a>
            </p>
            <p align="center"><b>Приветствую всех посетителей моего сайта!</b></p>

            <p>Давайте познакомимся — меня зовут Василий Горячевский. 
            На момент создания этой страницы мне 34 года, я женат, у меня есть сын. 
            В свободное от работы время я увлекаюсь охотой, рыбалкой, люблю походы и природу. 
            Недавно, в список моих увлечений добавилось еще программирование, чему я очень рад!
            Как же программирование пришло в мою жизнь (точнее как оно туда вернулось)?</p>

            <p>В 2009 закончил Прикладную математику. Во время учебы мне очень нравилось программирование 
            и всё что с этим связано, поэтому в голове четко сформировалось желание связать свою жизнь с IT. 
            Так сложилось, что еще студентом я пришел работать в школу IT инженером 
            (если просто - школьный сисадмин, думаю каждый помнит в своей школе такого паренька). 
            Спустя время вырос до заместителя директора по информационным технологиям, кем сейчас и работаю.</p>
            
            <p>С тех пор прошло более 10 лет, и я понял, что слишком далеко отклонился от своей первоначальной мечты,
            и твердо решил, что пора вернуть программирование в свою жизнь. 
            Тут еще надо поблагодарить Самата Галимова с его подкастом «Запуск завтра» 
            (я его слушал целый месяц каждый день, пока гулял с собакой, и получил большой заряд мотивации).</p>

            <p>Это мой первый рабочий проект за последние 10 лет. Разработка сайта выпала на летнее время, 
            и наверное самым благоприятным периодом в работе были четыре недели, пока я гостил у своих родителей 
            в загородном доме.</p> 
            
            <p>Примерно так выглядело мое рабочее место днем:</p>

            <div class="d-flex justify-content-center">
            <div class="card" style="width: 640px;">
                <img src="{% static 'photo/workspace_640x480.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" align="center"><i>Свежий воздух, стрекочут кузнечики 
                    — лучшего места для глубокой когнитивной деятельности не найти!</i></p>
                </div>
            </div>
            </div>
            <br>
            <p>А примерно так мы изучали Python с моим псом Диланом:</p>
            <div class="d-flex justify-content-center">
            <div class="card" style="width: 640px;">
                <img src="{% static 'photo/helper_640x480.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" align="center"><i>Всё что мне было не понятно, я спрашивал у него...</i></p>
                </div>
            </div>
            </div>
            
            <p>Если вы дочитали этот бред до конца, то предлагаю еще ознакомиться со 
                <a href="{% url 'about:tech' %}">страничкой технологий</a>, 
            которые я использовал в этом проекте.</p>
            
            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>«Большинство хороших программистов делают свою работу не потому,
                    что ожидают оплаты или признания, а потому что получают удовольствие от программирования.»</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Linus Torvalds
                </figcaption>
            </figure>

        </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
{% endblock %}